.fondo {
    background-image: url("https://img.freepik.com/vector-gratis/escena-casa-jardin_1308-97666.jpg?t=st=1722941456~exp=1722945056~hmac=f9cde80176c017607b54e230786e353ae3d3ff524c5826df824fa91500662f36&w=1480");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.palo-semaforo {
    width: 35px;
    height: 85px;
    background-color: black;
    margin: auto;
    border-color: black;
    border-width: 5px;
    border-style: double;

}


.semaforo.container {
    margin: auto;
    list-style-type: none;
    border: 6px double grey;
    background: black;
    background: linear-gradient(-90deg, #45484d 0%, #000000 100%);
    border-radius: 20%;
    box-shadow: 0px 0px 0px 20px rgb(0, 0, 0);
    display: flex;
    background-color: grey;
    height: 50%;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;   
   align-content: space-around;
}

.red,
.yellow,
.green,
.purple {

    border-radius: 50%;
    height: 100px;
    width: 100px;

}

.red {
    background-color: red;
}

.green {
    background-color: green;

}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: rgb(195, 0, 255);
}

.iluminar {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.671);

}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
   

}

.boton-cambio,
.boton-morado {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e49bc6 ;
    /* Color del botón */
    transition: transform 0.3s ease-in-out;
    /* Transición leve al pulsar */
}


.boton-cambio:hover,
.boton-morado:hover {
    background-color: #da24da;
    /* Para cambiar el color al pasar el cursor sobre el botón */
}

.boton-cambio:active,
.boton-morado:active {
    transform: scale(0.9);
    /* Reduce un poco el tamaño del botón al hacer clic */
}